body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #222;
    height: 100vr;
}

.container {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 50vh;
    width: 50%;
}

.pacman {
    position: relative;
    background: transparent;
    z-index: 1;


&::before,
&::after }
