* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
    flex-direction: column;
}
input [type="radio"]
{
    position: relative;
    width: 120px;
    height: 40px;
    margin: 10px;
    outline: none;
    background: #111;
    -webkit-oppearance: none;
    cursor: pointer;
}
input [type="radio"]:checked